
@{
    Layout = null;
}
@model Warehouse.ViewModels.Common.TicketBoxAnswerViewModel

<div class="row">
    <div class="box box-warning">


        <div class="box-body no-padding">
            <div class="mailbox-read-info">
                <h3>@Model.Subject</h3>
                <h5>
                    Yanıtlayan: @Model.SenderName<br />

                    <span class="mailbox-read-time pull-right">@Model.Date.ToString("dd/MM/yyyy HH:mm")</span>
                </h5>
            </div>
            <h5><strong>Ticket:</strong></h5>
            <div class="framed-div mailbox-read-message">
                @Html.Raw(Model.Message)
            </div>

             <br />   <br />    <br />
            <h5><strong>Cevap:</strong></h5>
             <div class="framed-div mailbox-read-message">
                @Html.Raw(Model.AnswerMessage)
            </div>

        </div>

    </div>
</div>
<style>
    p {
        color: black
    }
    .framed-div {
        border: 1.5px solid orange; 
        padding: 10px; 
        border-top-style:solid;
        border-bottom-style:solid;
        
    }
</style>