@model Warehouse.ViewModels.Admin.UserChangePasswordViewModel
@using (Html.BeginForm("ChangePassword", "User", new { Area = "Admin" }, FormMethod.Post, new { id = "changePasswordForm", role = "form" }))
{
    <style>
        form ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        form li {
            float: left;
        }

            form li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
            }

                form li a:hover {
                    background-color: #111111;
                }
    </style>
    <div class="row">
        <div class="col-xs-12">
            @Html.AntiForgeryToken()
            @Html.RenderValidationSummary(true) 
        </div>
    </div>

    <div class="row">



        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.OldPassword)">
            @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.OldPassword, new { @class = "show-maxlength", autofocus = "true", type = "password", data_type = "password" })
        </div>



        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12">

        </div>

        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.NewPassword)">
            @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.NewPassword, new { @class = "show-maxlength", type = "password", data_type = "password" })
        </div>


        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ReNewPassword)">
            @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.ReNewPassword, new { @class = "show-maxlength", type = "password", data_type = "password" })
        </div>



        <div class="clearfix"></div>


    </div>
    <hr />
    <div class="form-group form-group-sm row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right margin-left10"><span class="fa fa-check"></span>&nbsp;&nbsp;Kaydet</button>
            <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp;İptal</button>
        </div>
    </div>
    <div class="clearfix"></div>

}
<style>
    .required::after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>