@model Warehouse.ViewModels.Admin.UserViewModel
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<title>Profilim</title>
<div class="section-heading text-center">
    <h2>Kullanıcı Profili</h2>
</div>
<div class="container rounded bg-white mt-5 mb-5 grey-bg">
    <div class="row">
        <div class="col-md-3 border-right">

            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" style="width:250px;" src="~/Content/images/seo-process/4.png"></div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="col-md-12"> Kullanıcı Adı : @User.Identity.Name</div>
                <div class="col-md-12"> Mail: @Model.Mail</div>
            </div>
        </div>





        <div class="col-md-5 border-right">
            @using (Html.BeginForm("UserProfile", "User", new { Area = "Admin" }, FormMethod.Post, new { id = "userProfileForm", role = "form", enctype = "multipart/form-data" }))
            {
                <div class="col-xs-12 col-md-12 col-md-push-2">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        @Html.AntiForgeryToken()
                        @Html.RenderValidationSummary(true)

                    </div>

                    <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 @Html.ModelStateFor(m => m.Name)">
                        <div class="col-md-12"> @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.Name, new { @class = "show-maxlength", autofocus = "true" })</div>
                    </div>
                    <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 @Html.ModelStateFor(m => m.Surname)">
                        <div class="col-md-12"> @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.Surname, new { @class = "show-maxlength", autofocus = "true" })</div>
                    </div>
                    
                    <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 @Html.ModelStateFor(m => m.Phone)">
                        <div class="col-md-12"> @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.Phone, new { @class = "show-maxlength", autofocus = "true" })</div>
                    </div>
                    <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12 @Html.ModelStateFor(m => m.Mail)">
                        <div class="col-md-12"> @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.Mail, new { @class = "show-maxlength", autofocus = "true" })</div>
                    </div>
                    <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-md-12"> @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.Password, new { @class = "show-maxlength", autofocus = "true", type = "password", data_type = "password" })</div>
                    </div>






                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="row">
                                @Html.EditorFor(m => m.Country)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                @Html.EditorFor(m => m.City)
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-check"></span>&nbsp;Kaydet</button>
                        
                    </div>
                </div>
            }
        </div>


    </div>
</div>
<style>
    .required::after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
<style>
    body {
        background: rgb(99, 39, 120)
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>

<script>




    /* $('#NestedCity').prop('disabled', true);*/
    var cityId = $("#NestedCity").val();
    var NestedCity = $("#CityNumber");
    if (cityId != "" && cityId != null) {
        $('#NestedCity').prop('disabled', false);
    }


    $(function () {
        $("#NestedCountry").on("change", function () {

            $('#NestedCity').prop('disabled', false);
            var id = $("#NestedCountry").val();

            if (id != "" && id != null) {
                $.ajax({
                    url: '/Admin/Order/NestedCity',
                    data: { id: id },
                    type: "POST",
                    dataType: "json",
                    success: function (data) {
                        $("#NestedCity").empty();

                        $("#NestedCity").append("<option value'" + String.empty + "'>" + "Şehir Seçiniz" + "</Option")
                        for (var i = 0; i < data.length; i++) {
                            $("#NestedCity").append("<option value='" + data[i].Id + "'>" + data[i].Name + "</Option>")
                        }
                        if (data.length == 0) {
                            console.log("required kaldırıldı")
                            $('#NestedCity').prop('disabled', true);
                            $('#NestedCity').prop('required', true);
                        }
                    },
                    error: function () {
                        $('#NestedCity').prop('disabled', true);
                    },
                });
            }
            else {
                $("#NestedCity").empty();
                $('#NestedCity').prop('disabled', true);
                $("#NestedCity").append("<option value'" + String.empty + "'>" + "Şehir Seçiniz" + "</Option")
            }
        });





    });
</script>