
@model Warehouse.ViewModels.Admin.UserListViewModel
<tr id="@("user_"+Model.Id)" class="master-row">


    <td>
        @Model.UserName @if (CurrentUserViewModel.IsMainUser)
        {<span>@if (Model.UserName == CurrentUserViewModel.UserName)
        { <span>(ADMİN)</span>

        }</span>}
         
    </td>
    <td>@Model.Name @Model.Surname</td>
    <td>@Model.Mail</td>
    <td style="width:50px">
        <a class="btn btn-block btn-primary btn-sm"
           href="@Url.Action("Index", "CustomerOrderSetting", routeValues: new {Area = "Admin",customerId=Model.Id})">
            <i class="fa-brands fa-shopify"></i>Siparişleri Görüntüle(@Model.CustomerOrderCount)
        </a>

    </td>
    <td style="width:50px">
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#user_@Model.Id"
           data-modal-highlight="#user_@Model.Id"
           data-modal-title="Kullanıcı Düzenle"
           data-hook-beforeunload="true"
           class="btn btn-block btn-success btn-sm"
           href="@Url.Action("UserEdit", "UserSetting", routeValues: new {Area = "Admin",userId=Model.Id})">
            <i class="fa fa-edit fa-fw text-success"></i> Kullanıcı Bilgileri
        </a>

    </td>
    <td style="width:50px">
        <a href="javascript:void(0);"
           data-toggle="confirmation"
           title="Emin Misiniz"
           data-btn-ok-label="Evet"
           data-btn-cancel-label="Hayır"
           data-placement="top"
           data-user-id="@Model.Id"
           data-on-confirm="deleteUser"
           class="btn btn-block btn-danger btn-sm">
            <i class="fa fa-trash fa-fw text-danger"></i> Kullanıcı Sil
        </a>

    </td>
</tr>
