@model List<Warehouse.ViewModels.Admin.ProductGroupShowViewModel>
<table id="showOrderGroup" class="table table-bordered">
    <thead>
        <tr>
            <th>İçerik</th>
            <th>Adet</th>
            <th>Birim Fiyat</th>
            <th>SKU</th>
            <th>Gtip Code</th>





        </tr>
    </thead>
    <tbody id="OrderList">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Content</td>
                <td>@item.Count</td>
                <td>@item.QuantityPerUnit</td>
                <td>@item.SKU</td>
                <td>@item.GtipCode</td>

            </tr>
        }


    </tbody>


</table>
<div class="clearfix"></div>
<hr />
<div class="clearfix"></div>

<div class="form-group form-group-sm row">
    <div class="col-xs-12">

        <h4><i class="fa-duotone fa-bags-shopping"></i>Siparişiniz @Model.Count() adet ürün içermektedir</h4>
        <h4>@ViewData["TotalCount"] toplam parça ürün vardır</h4>
    </div>
</div>
<div class="form-group form-group-sm row">
    <div class="col-xs-12">
         
        <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp;Kapat</button>
    </div>
</div>
