@model Warehouse.ViewModels.Admin.OrderPackageGroupViewModel
@using WarehouseManagementSystem.Extensions
<div class="packageTransactionGroup">
    @using (Html.BeginCollectionItem("OrderPackageGroups"))
    {
        <div class="row">
            <div class="col-xs-12">


                @Html.HiddenFor(a => a.Id)
                 

            </div>
        </div>

        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 no-padding">
            @*<div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-2 col-lg-2">
                @Html.TextBoxBlockLabelAsAddonFor(m => m.Count)
            </div>*@
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-2 col-lg-2">
                @Html.TextBoxBlockLabelAsAddonFor(m => m.Weight, new { placeholder = "kg" })
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-2 col-lg-2">
                @Html.TextBoxBlockLabelAsAddonFor(m => m.Width, new { placeholder = "cm" })
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-3 col-lg-3">
                @Html.TextBoxBlockLabelAsAddonFor(m => m.Height, new { placeholder = "cm" })
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-3 col-lg-3">
                @Html.TextBoxBlockLabelAsAddonFor(m => m.Length, new { placeholder = "cm" })
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a id="addPackageTransactionGroup" class="pressActive btn btn-info btn-sm">
                    <i class="fa fa-plus"></i>Bu Koliye Ürün Ekle
                </a>
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr />
            </div>
        </div>
        <div id="hideDeletePackageRow" class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <a class="deletePackageRow btn btn-sm btn-default">
                <i class="fas fa-trash-alt text-danger"></i>
            </a>
        </div>





    }
</div>