@model Warehouse.ViewModels.Admin.ProductGroupShowViewModel
@using WarehouseManagementSystem.Extensions
<div class="packageProductGroup">
    @using (Html.BeginCollectionItem("OrderProductGroups"))
    {
        <div class="row">
            <div class="col-xs-12">


                @Html.HiddenFor(a => a.Id)
                @Html.HiddenFor(a => a.Content)
                @Html.HiddenFor(a => a.Count)
                @Html.HiddenFor(a => a.SKU)
                @Html.HiddenFor(a => a.GtipCode)
                @Html.HiddenFor(a => a.QuantityPerUnit)
                @Html.HiddenFor(a => a.isPackagedCount)


            </div>
        </div>
        <div class="form-group form-group-sm col-xs-12  @Html.ModelStateFor(m => m.isChecked)">
            <div class="input-group input-group-sm">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>


                            @if (Model.isPackagedCount != 0 && (Model.isPackage == false || Model.isPackage==null))
                            {
                                <td>
                                    @Html.CheckBoxFor(u => u.isChecked)
                                </td>
                                <td style="width:50px">
                                    @Html.DisplayFor(m => m.Content)
                                </td>
                                <td>
                                    <p>x @Html.DisplayFor(m => m.isPackagedCount)</p>
                                </td>
                                <td style="width:250px">
                                    @Html.LabelFor(m => m.PackagedCount)
                                    @Html.TextBoxFor(m => m.PackagedCount)
                                </td>
                            }
                            


                            @*@if (Model.isPackagedCount == 0 && Model.isPackage == true)
                            {
                                @Html.CheckBoxFor(u => u.isChecked, new { @disabled = "disabled" })


                                @Html.DisplayFor(m => m.Content)
                            }*@
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    }
</div>

 