@model List<Warehouse.ViewModels.Admin.OrderPackageListViewModel>
<table id="showOrderPackageGroup" class="table table-bordered">
    <thead>
        <tr>
            <th>Adet</th>
            <th>Ağırlık(kg)</th>
            <th>En(cm)</th>
            <th>Yükselik(cm)</th>
            <th>Boy(cm)</th>
            <th>Desi</th>





        </tr>
    </thead>
    <tbody id="OrderPackageList">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Count</td>
                <td>@item.Weight</td>
                <td>@item.Width</td>
                <td>@item.Height</td>
                <td>@item.Length</td> 
                <td>@item.Desi</td> 
            </tr>
        }


    </tbody>


</table>
<div class="clearfix"></div>
<hr />
<div class="clearfix"></div>


<div class="form-group form-group-sm row">
    <div class="col-xs-12">

        <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp;Kapat</button>
    </div>
</div>
