
@model List<Warehouse.ViewModels.Admin.OrderListViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box-header">
    <i class="fa fa-book"></i>
    <h3 class="box-title">Gönderi Listesi</h3>
</div>
<a class="btn btn-warning btn-sm"
   data-modal-form="true"
   data-modal-size="modal-lg"
   data-modal-prepend="tbody#OrderList"
   data-modal-title="Yeni Gönderi Oluştur Partial"
   data-hook-beforeunload="true"
   href="@Url.Action("Add", "Order")">
    <i class="fa fa-plus"></i>Yeni Gönderi Oluştur
</a>
<table id="tblOrders" class="table table-bordered">
    <thead>
        <tr>
            <th>Gönderici Adı</th>
            <th>Gönderici Telefon</th>
            <th>Alıcı Adı</th>
            <th>Alıcı Telefon</th>
            <th>Alıcı Şehir</th>
            <th>Alıcı Ülke</th>
            <th>Para Birimi</th>
            <th>Alıcı ZipCode</th>
            <th>Alıcı Adres</th>
            <th>Gönderi İçeriği</th>
            <th>Koli Adeti</th>
            <th>Düzenle</th>
            <th>Sil</th>




        </tr>
    </thead>
    <tbody id="OrderList">
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.SenderName
                </td>
                <td>
                    @order.SenderPhone
                </td>
                <td>@order.RecipientName</td>
                <td>
                    @order.RecipientPhone
                </td>
                <td>@order.RecipientCity</td>
                <td>@order.RecipientCountry</td>
                <td>@order.CurrencyUnit</td>
                <td>@order.RecipientZipCode</td>
                <td>@order.RecipientAddress</td>
                <td>@order.OrderDescription</td>
                <td>@order.PackageCount</td>
                <td style="width:50px">
                    <a data-modal-form="true"
                       data-modal-size="modal-lg"
                       data-modal-update="#service_@order.Id"
                       data-modal-highlight="#service_@order.Id"
                       data-modal-title="Gönderi Düzenle"
                       data-hook-beforeunload="true"
                       class="btn btn-block btn-success btn-sm"
                       href="@Url.Action("Edit", "Order", routeValues: new {OrderId=order.Id})">
                        <i class="fa fa-edit fa-fw text-success"></i> Gönderi Düzenle
                    </a>

                </td>
                <td style="width:50px">
                    <a href="javascript:void(0);"
                       data-toggle="confirmation"
                       title="Emin Misiniz"
                       data-btn-ok-label="Evet"
                       data-btn-cancel-label="Hayır"
                       data-placement="top"
                       data-service-id="@order.Id"
                       data-on-confirm="deleteOrder"
                       class="btn btn-block btn-danger btn-sm">
                        <i class="fa fa-trash fa-fw text-danger"></i> Gönderi Sil
                    </a>

                </td>

            </tr>
        }

    </tbody>


</table>
<script>
    $(function () {
        $("#tblOrders").dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });


    });
</script>

