@model Warehouse.ViewModels.Admin.OrderPackageProductListViewModel


@using (Html.BeginCollectionItem("OrderPackageProductListViewModels"))
{

    <table id="showOrderPackageGroup" class="table table-bordered">
        <thead>
            <tr>
                <th>Adet</th>
                <th>Ağırlık(kg)</th>
                <th>En(cm)</th>
                <th>Yükselik(cm)</th>
                <th>Boy(cm)</th>
                <th>Desi</th>
                <th>Ürün İçeriği</th>





            </tr>
        </thead>
        <tbody id="OrderPackageList">

            <tr>
                <td>@Model.Count</td>
                <td>@Model.Weight</td>
                <td>@Model.Width</td>
                <td>@Model.Height</td>
                <td>@Model.Length</td>
                <td>@Model.Desi</td>
                <td>
                    @foreach (var item in Model.OrderPackagedProductGroups)
                    {
                        @Html.Partial("~/Views/Order/DisplayTemplates/OrderPackagedProductGroups.cshtml", item)

                    }
                </td>

            </tr>

        </tbody>



    </table>




    @Html.HiddenFor(a => a.Count)
    @Html.HiddenFor(a => a.Weight)
    @Html.HiddenFor(a => a.Width)
    @Html.HiddenFor(a => a.Length)
    @Html.HiddenFor(a => a.Desi)
    @Html.HiddenFor(a => a.Height)
//@Html.HiddenFor(a => a.OrderPackagedProductGroups)
    


}
