@model Warehouse.ViewModels.Admin.OrderPackageProductListViewModel


@using (Html.BeginCollectionItem("OrderPackageProductListViewModels"))
{

    <table id="showOrderPackageGroup" class="table table-bordered">
        <thead>
            <tr>

                <th>Ağırlık(kg)</th>
                <th>En(cm)</th>
                <th>Yükselik(cm)</th>
                <th>Boy(cm)</th>
                <th>Desi</th>
                <th>Paket İçeriği</th>
            </tr>
        </thead>
        <tbody id="OrderPackageList">

            <tr>

                <td>@Model.Weight kg</td>
                <td>@Model.Width cm</td>
                <td>@Model.Height cm</td>
                <td>@Model.Length cm</td>
                <td>@Model.Desi</td>
                <td>
                    @foreach (var item in Model.OrderPackagedProductGroups)
                    {
                        @Html.Partial("~/Views/Order/DisplayTemplates/OrderPackagedProductGroups.cshtml", item)

                    }
                </td>

            </tr>

        </tbody>



    </table>




    @Html.HiddenFor(a => a.Count)
    @Html.HiddenFor(a => a.Weight)
    @Html.HiddenFor(a => a.Width)
    @Html.HiddenFor(a => a.Length)
    @Html.HiddenFor(a => a.Desi)
    @Html.HiddenFor(a => a.Height)



}
