@model Warehouse.ViewModels.Admin.OrderListViewModel

<tr id="@("order_"+Model.Id)" class="master-row">
    <td>
        @Model.SenderName
    </td>
    <td>
        @Model.SenderPhone
    </td>
    <td>@Model.RecipientName</td>
    <td>
        @Model.RecipientPhone
    </td>
    <td>@Model.RecipientCity</td>
    <td>@Model.RecipientCountry</td>
    <td>@Model.CurrencyUnit</td>
    <td>@Model.RecipientZipCode</td>
    <td>@Model.RecipientAddress</td>
    <td>@Model.CargoService</td>
    <td>@Model.PackageCount</td>
    <td style="width:50px">
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#order_@Model.Id"
           data-modal-highlight="#order_@Model.Id"
           data-modal-title="Gönderi Düzenle"
           data-hook-beforeunload="true"
           class="btn btn-block btn-success btn-sm"
           href="@Url.Action("Edit", "Order", routeValues: new {orderId=Model.Id})">
            <i class="fa fa-edit fa-fw text-success"></i> Gönderi Düzenle
        </a>

    </td>
    <td style="width:50px">
        <a data-id="@Model.Id"
           class="deleteOrder btn btn-block btn-danger btn-sm">
            <i class="fa fa-trash fa-fw text-danger"></i> Gönderi Sil
        </a>
        @*<a href="javascript:void(0);"
               data-toggle="confirmation"
               title="Emin Misiniz"
               data-btn-ok-label="Evet"
               data-btn-cancel-label="Hayır"
               data-placement="top"
               data-id="@Model.Id"
               data-on-confirm="deleteOrder"
               class="btn btn-block btn-danger btn-sm">
                <i class="fa fa-trash fa-fw text-danger"></i> Gönderi Sil
            </a>*@
        @*<a class="tooltips deleteOrg" data-container="body" data-placement="bottom" data-toggle="confirmation" data-original-title="Delete organization" data-id="test">
                Click
            </a>*@



    </td>

</tr>




