@model Warehouse.ViewModels.Admin.OrderListViewModel

<tr id="@("order_"+Model.Id)" class="master-row">

    <td>
        @Model.SenderName
    </td>

    <td style="width:50%"> @Model.SenderAddress</td>
    <td>@Model.RecipientName</td>

    <td>
        @Model.RecipientCity
    </td>
    <td>@Model.RecipientCountry</td>
    <td>
        <span>@Model.DateTime.Day/@Model.DateTime.Month/@Model.DateTime.Year</span>
         

    </td>

    <td style="width:50%">@Model.RecipientAddress</td>
    <td>@Model.CargoService</td>
    <td>
        @if (@Model.isPackage == true)
        {
            <span>✅</span>
        }
        else
        {
            <span>⌛</span>
        }

    </td>
    <td>

        <a data-modal-form="true"
           data-modal-title="Siparişteki Paket Listesi"
           data-hook-beforeunload="true"
           href="@Url.Action("OrderPackageGroupShow", "Order", routeValues: new {orderId=Model.Id})">
            @Model.PackageCount
        </a>
    </td>
    <td>
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#order_@Model.Id"
           data-modal-highlight="#order_@Model.Id"
           data-modal-title="Gönderi Düzenle"
           data-modal-save-message="Gönderi başarıyla düzenlendi"
           data-hook-beforeunload="true"
           class="pressActive btn btn-block btn-success btn-sm"
           href="@Url.Action("Edit", "Order", routeValues: new {orderId=Model.Id})">
            <i class="fa fa-edit fa-fw text-success"></i> Gönderi Düzenle
        </a>

    </td>
    <td>
        <a data-id="@Model.Id"
           class="pressActive deleteOrder btn btn-block btn-danger btn-sm">
            <i class="fa fa-trash fa-fw text-danger"></i> Gönderi Sil
        </a>

    </td>
    <td>
        <a data-modal-form="true"
           data-modal-title="Siparişteki Ürün Listesi"
           data-hook-beforeunload="true"
           class="pressActive btn btn-block btn-warning btn-sm"
           href="@Url.Action("ProductGroupShow", "Order", routeValues: new {orderId=Model.Id})">
            <i class="fa-solid fa-book"></i> Ürünleri Görüntüle
        </a>

    </td>
    <td>
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#order_@Model.Id"
           data-modal-highlight="#order_@Model.Id"
           data-modal-title="Sipariş Paketle"
           data-hook-beforeunload="true"
           class="pressActive btn btn-block btn-sm showOrderPackage"
           href="@Url.Action("OrderPackageAdd", "Order", routeValues: new {orderId=Model.Id})">
            <i class="fa-solid fa-cube"></i> Sipariş Paketle
        </a>

    </td>



</tr>
<style>
    .showOrderPackage {
        color: #ffffff;
        background-color: #14ceb7
    }
</style>
