@model Warehouse.ViewModels.Admin.CountryShippingPriceViewModel
@using WarehouseManagementSystem.Extensions
 
@using (Html.BeginCollectionItem("CountryShippingPriceViewModels"))
{

 
   
    @Html.HiddenFor(a => a.CargoServiceName)
    @Html.HiddenFor(a => a.CurrencyUnitName)



    <div>


        <tr>



            <td>
                @Model.CargoServiceName
            </td>
            <td>
                <div class="form-group form-group-sm col-xs-12 @Html.ModelStateFor(m => m.Active)">
                    <div class="input-group input-group-sm">
                        @Html.CheckBoxFor(m => m.Active,
                            new
                            {
                                data_make_switchery_small = "true",
                                @class = "form-control",
                                data_val = "true"
                            })

                    </div>
                </div>
            </td>
            <td>
             @Html.TextBoxBlockLabelAsAddonFor(m=>m.Price)
            </td>
            <td>@Model.CurrencyUnitName</td>
            <td>  @Html.TextBoxBlockLabelAsAddonFor(m => m.DeliveryTime)</td>


        </tr>

    </div>


}


