@model IPagedList<Warehouse.ViewModels.Admin.ShippingPriceListViewModel>
@{
    var languages = (List<Warehouse.ViewModels.Common.LanguageListModel>)ViewBag.Languages;
}

<div class="products-list-tools clearfix">
 

    <div class="pull-right hidden-xs hidden-sm">
        @if (Model.Any())
        {
            <div style="margin: 20px 0; float: left !important;">
                @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
            </div>
        }


        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "ShippingPriceListContainer" }).Options(o => o
            .Action("ShippingPriceList")
            .DisplayTemplate("BootstrapPage")
            .MaxNrOfPages(6)
            .AlwaysAddFirstPageNumber()
            .RouteValues(new { languageId = @ViewBag.LanguageId })



        )
    </div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Ülke Adı</th>
            <th>Para Birimi</th>
            <th style="width:50px">Fiyat Güncelle</th>
         
        </tr>
    </thead>
    <tbody id="ShippingPriceList">
        @Html.DisplayFor(m => m)


    </tbody>

</table>
<div class="pull-left">


    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "ShippingPriceListContainer" }).Options(o => o
        .Action("ShippingPriceList")
        .DisplayTemplate("BootstrapPage")
        .MaxNrOfPages(6)
        .AlwaysAddFirstPageNumber()
        .RouteValues(new { languageId = @ViewBag.LanguageId })

        )
</div>
@if (Model.Any())
{
    <div style="margin: 20px 0; float: left !important;">
        @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
    </div>
}

