@model Warehouse.ViewModels.Admin.CountryViewModel
@using (Html.BeginForm("Add", "CountrySetting", new { Area = "Admin" }, FormMethod.Post, new { id = "countryAddForm", role = "form" }))
{
    <style>
        form ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        form li {
            float: left;
        }

            form li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
            }

                form li a:hover {
                    background-color: #111111;
                }
    </style>
    <div class="row">
        <div class="col-xs-12">
            @Html.AntiForgeryToken()
            @Html.RenderValidationSummary(true)
            @Html.HiddenFor(m => m.LanguageId, new { data_val = "false" })
        </div>
    </div>

    <div class="row">


       
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.Name)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.Name, new { @class = "show-maxlength", autofocus = "true" })
        </div>
       
        

        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6">
             
                <div class="row">
                    @Html.EditorFor(m => m.CurrenyUnit)
                </div>
             
        </div>
      
        <div class="form-group form-group-sm col-xs-12 @Html.ModelStateFor(m => m.Active)">
            <div class="input-group input-group-sm">
                @Html.CheckBoxFor(m => m.Active,
                    new
                    {
                        data_make_switchery_small = "true",
                        @class = "form-control",
                        data_val = "true"
                    })
                <span class="margin-left5">@Html.DisplayNameFor(m => m.Active)</span>
            </div>
        </div>
        <div class="clearfix"></div>
 

    </div>
    <hr />
    <div class="form-group form-group-sm row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right margin-left10"><span class="fa fa-check"></span>&nbsp;&nbsp;Kaydet</button>
            <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp;İptal</button>
        </div>
    </div>
    <div class="clearfix"></div>
     
}