@model Warehouse.ViewModels.Admin.SliderCrudViewModel
@using (Html.BeginForm("Edit", "SliderSetting", new { Area = "Admin" }, FormMethod.Post, new { id = "sliderEditForm", role = "form" }))
{
    <div class="row">
        <div class="col-xs-12">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.LanguageId, new { data_val = "false" })
            @Html.HiddenFor(m => m.Id, new { data_val = "false" })
            @Html.HiddenFor(m => m.FileName, new { data_val = "false" })
            @Html.RenderValidationSummary(true)
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
            @Html.TextBox("imagefile", null, new { @class = "form-control", type = "file" })

        </div>

        <div class=" form-group form-group-sm col-xs-6 col-sm-6 col-md-6 col-lg-4 @Html.ModelStateFor(m => m.SortOrder)">
            <div class="input-group input-group-sm">
                <span class="input-group-addon as-label required" aria-required="true"><strong>@Html.DisplayNameFor(m => m.SortOrder)</strong> </span>
                @Html.TextBoxFor(m => m.SortOrder, "{0:0.########}", new { @class = "form-control" })
            </div>
            @Html.ValidationMessageFor(m => m.SortOrder, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.Title)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.Title, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.Alt)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.Alt, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ButtonLink1)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.ButtonLink1, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ButtonText1)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.ButtonText1, new { @class = "show-maxlength", autofocus = true })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ButtonLink2)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.ButtonLink2, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ButtonText2)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.ButtonText2, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ButtonLink3)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.ButtonLink3, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ButtonText3)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.ButtonText3, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ButtonLink4)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.ButtonLink4, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.ButtonText4)">
            @Html.TextBoxBlockLabelAsAddonFor(m => m.ButtonText4, new { @class = "show-maxlength" })
        </div>
        <div class="form-group form-group-sm col-xs-12 @Html.ModelStateFor(m => m.Active)">
            <div class="input-group input-group-sm">
                @Html.CheckBoxFor(m => m.Active,
                    new
                    {
                        data_make_switchery_small = "true",
                        @class = "form-control",
                        data_val = "true"
                    })
                <span class="margin-left5">@Html.DisplayNameFor(m => m.Active)</span>
            </div>
        </div>
    </div>
    <hr />
    <div class="form-group form-group-sm row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right margin-left10"><span class="fa fa-check"></span>&nbsp;&nbsp;Kaydet</button>
            <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp;İptal</button>
        </div>
    </div>
    <div class="clearfix"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
}