
@model Warehouse.ViewModels.Admin.CurrencyUnitListViewModel
<tr id="@("currencyUnit_"+Model.Id)" class="master-row">

    <td>@Model.Name</td>
    <td>
        @Model.Description
    </td>
    <td style="width:50px">
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#currencyUnit_@Model.Id"
           data-modal-highlight="#currencyUnit_@Model.Id"
           data-modal-title="Para Birimi Düzenle"
           data-hook-beforeunload="true"
           class="btn btn-block btn-success btn-sm"
           href="@Url.Action("Edit", "CurrencyUnitSetting", routeValues: new {Area = "Admin",currencyUnitId=Model.Id})">
            <i class="fa fa-edit fa-fw text-success"></i> Para Birimi Düzenle
        </a>

    </td>
    <td style="width:50px">
        <a href="javascript:void(0);"
           data-toggle="confirmation"
           title="Emin Misiniz"
           data-btn-ok-label="Evet"
           data-btn-cancel-label="Hayır"
           data-placement="top"
           data-currency-unit-id="@Model.Id"
           data-on-confirm="deleteCurrencyUnit"
           class="btn btn-block btn-danger btn-sm">
            <i class="fa fa-trash fa-fw text-danger"></i> Para Birimi Sil
        </a>

    </td>
</tr>
