@model Warehouse.ViewModels.Admin.UserForgotPasswordViewModel
@using (Html.BeginForm("ForgotPassword", "UserRegister", new { Area = "Admin" }, FormMethod.Post, new { id = "changePasswordForm", role = "form" }))
{
    <style>
        form ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        form li {
            float: left;
        }

            form li a {
                display: block;
                color: white;
                text-align: center;
                padding: 16px;
                text-decoration: none;
            }

                form li a:hover {
                    background-color: #111111;
                }
    </style>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-info alert-dismissible">
                <h4><i class="fa-solid fa-triangle-exclamation"></i> Dikkat!</h4>
                Lütfen şifrenizi göndermemizi istediğiniz mail adresini yazınız.
            </div>
        </div>
    </div>
    if (Model.Message != null)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible">
                    <h4><i class="fa-solid fa-triangle-exclamation"></i> Dikkat!</h4>
                    @ViewData["ErrorMessage"]
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-12">
            @Html.AntiForgeryToken()
            @Html.RenderValidationSummary(true)
        </div>
    </div>

    <div class="row">



        <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6 @Html.ModelStateFor(m => m.Mail)">
            @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.Mail, new { @class = "show-maxlength", autofocus = "true", type = "mail" })
        </div>







        <div class="clearfix"></div>


    </div>
    <hr />
    <div class="form-group form-group-sm row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary pull-right margin-left10"><span class="fa fa-check"></span>&nbsp;&nbsp;Gönder</button>
            <button class="btn btn-danger pull-right" type="button" data-dismiss="modal"><span class="fa fa-times"></span>&nbsp;&nbsp;İptal</button>
        </div>
    </div>
    <div class="clearfix"></div>

}
<style>
    .required::after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>