
@model Warehouse.ViewModels.Admin.CountryListViewModel
<tr id="@("country_"+Model.Id)" class="master-row">
   
    <td>@Model.Id</td>
    <td>
        @Model.Name
    </td>
    <td style="width:50px">
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#service_@Model.Id"
           data-modal-highlight="#service_@Model.Id"
           data-modal-title="Servis Düzenle"
           data-hook-beforeunload="true"
           class="btn btn-block btn-success btn-sm"
           href="@Url.Action("Edit", "ServiceSetting", routeValues: new {Area = "Admin",serviceId=Model.Id})">
            <i class="fa fa-edit fa-fw text-success"></i> Kategori Düzenle
        </a>

    </td>
    <td style="width:50px">
        <a href="javascript:void(0);"
           data-toggle="confirmation"
           title="Emin Misiniz"
           data-btn-ok-label="Evet"
           data-btn-cancel-label="Hayır"
           data-placement="top"
           data-service-id="@Model.Id"
           data-on-confirm="deleteService"
           class="btn btn-block btn-danger btn-sm">
            <i class="fa fa-trash fa-fw text-danger"></i> Kategori Sil
        </a>

    </td>
</tr>
