
@model IPagedList<Warehouse.ViewModels.Admin.CustomerOrderPackageListViewModel>
<section class="section featured-works" data-target="CustomerPackageListContainer">
    <div class="container">
        <div class="pull-right hidden-xs hidden-sm">
            @if (Model.Any())
            {
                <div style="margin: 20px 0; float: left !important;">
                    @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
                </div>
            }


            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "CustomerPackageListContainer" }).Options(o => o
                .Action("CustomerPackageList")
                .DisplayTemplate("BootstrapPage")
                .MaxNrOfPages(6)
                .AlwaysAddFirstPageNumber()
                .RouteValues(new { languageId = @ViewBag.LanguageId })



            )
        </div>
        <div class="section-heading text-center">
            <h2>Koliler</h2>
        </div>
     


        <div class="featured-work-content">
            <div class="master-row">
                @Html.DisplayFor(m => m)

            </div>
          

        </div>
       
    </div>
   
    <div class="pull-left">


        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "CustomerPackageListContainer" }).Options(o => o
            .Action("CustomerPackageList")
            .DisplayTemplate("BootstrapPage")
            .MaxNrOfPages(6)
            .AlwaysAddFirstPageNumber()
            .RouteValues(new { languageId = @ViewBag.LanguageId })

            )
    </div>
    @if (Model.Any())
    {
        <div style="margin: 20px 0; float: left !important;">
            @((Model.PageIndex * Model.PageSize) + 1)-@((Model.PageIndex * Model.PageSize) + Model.Count())/@Model.TotalItemCount
        </div>
    }
</section>
 