@model Warehouse.ViewModels.Admin.ProductTransactionGroupViewModel
@using WarehouseManagementSystem.Extensions

<div class="productTransactionGroup">
    @using (Html.BeginCollectionItem("ProductTransactionGroup"))
    {
        <div class="row">
            <div class="col-xs-12">

                @Html.HiddenFor(m => m.Id, new { data_val = "false" })
                @Html.HiddenFor(m => m.isPackage, new { data_val = "false" })
                @Html.HiddenFor(m => m.isPackagedCount, new { data_val = "false" }) 
                @Html.HiddenFor(m => m.isReadOnly, new { data_val = "false" }) 


            </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 no-padding">

            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-6 col-lg-6">
                @Html.TextBoxBlockLabelAsAddonFor(m => m.Content, new { @class = "kt_docs_maxlength_basic", maxlength = "50" })
            </div>

            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-3 col-lg-3">
                @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.QuantityPerUnit, new { placeholder = "" })
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-3 col-lg-3">

            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-4 col-lg-4">
                @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.Count, new { placeholder = "" })
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-4 col-lg-4">
                @Html.TextBoxBlockLabelAsAddonForAsteriks(m => m.SKU)
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-4 col-lg-4">
                @Html.TextBoxBlockLabelAsAddonFor(m => m.GtipCode)
            </div>
            <div class="form-group form-group-sm col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr />
            </div>
        </div>
        <div id="hideDeleteRow" class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
            <a class="deleteRow btn btn-sm btn-default">
                <i class="fas fa-trash-alt text-danger"></i>
            </a>
        </div>
        

    }
</div>
<script>
    $('.kt_docs_maxlength_basic').maxlength({
        alwaysShow: true,
        threshold: 5,
        placement: 'top-right',
        warningClass: "label label-danger label-rounded label-inline",
        limitReachedClass: "label label-primary label-rounded label-inline"
    });
</script>