@model Warehouse.ViewModels.Admin.AllCustomerOrderListViewModel

<tr id="@("AllCustomerOrder_"+Model.Id)" class="master-row">
    <td style="width:30%"><a href="@Url.Action("Index","UserSetting", new {userName = Model.CustomerUserName})">@Model.CustomerUserName / @Model.CustomerName</a></td>

   
    <td style="width:25%">
        <span>@Model.DateTime.ToString("dd/MM/yyyy HH:mm")</span>


    </td>

    <td style="width:20%">@Model.RecipientAddress / @Model.RecipientCountry</td>
    
  
    <td>

        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-title="Siparişteki Paket Listesi"
           data-hook-beforeunload="true"
           href="@Url.Action("OrderPackageGroupShow", "CustomerOrderSetting" , routeValues: new {Area = "Admin",orderId=Model.Id, customerId = ViewBag.CustomerId})">
            @Model.PackageCount
        </a>
    </td>
    <td>
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-update="#AllCustomerOrder_@Model.Id"
           data-modal-highlight="#AllCustomerOrder_@Model.Id"
           data-modal-title="Gönderi Düzenle"
           data-modal-save-message="Kullanıcı gönderisi başarıyla düzenlendi"
           data-hook-beforeunload="true"
           class="pressActive btn btn-block btn-success btn-sm"
           href="@Url.Action("AllCustomerOrderEdit", "CustomerOrderSetting", routeValues: new {Area = "Admin",orderId=Model.Id})">
            <i class="fa fa-edit fa-fw text-success"></i> Gönderi Düzenle
        </a>

    </td>
  
    <td>
        <a data-modal-form="true"
           data-modal-size="modal-lg"
           data-modal-title="Siparişteki Ürün Listesi"
           data-hook-beforeunload="true"
           class="pressActive btn btn-block btn-warning btn-sm"
           href="@Url.Action("ProductGroupShow", "Order", routeValues: new {Area = "Admin",orderId=Model.Id})">
            <i class="fa-solid fa-book"></i> Ürünleri Görüntüle
        </a>

    </td>
  



</tr>
<style>
    .showOrderPackage {
        color: #ffffff;
        background-color: #14ceb7
    }
</style>